:root {
    --primary: #D04F4F;
    --blue: #3282F7;
    --green: #68D9A4;
    --red: #ED6454;
    --grey: #E7E7E7;
    --brown: #C7BEBE;
    --white: #E5E5E5;
}

body {
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

h3, h4, p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
}

ul {
    padding: 0;
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

header h1 {
    color: var(--primary);
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 47px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--grey);
    padding: 23px;
    border-radius: 5px;
}

#search-input {
    width: 95%;
    background-color: var(--grey);
    border: none;
    font-size: 18px;
    outline: none;
}

.filter-container {
    background-color: var(--blue);
    width: 223px;
    display: flex;
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 69px;
}

.filter-container h4 {
    padding: 23px 0 23px 23px;
    width: 95%;
    font-size: 18px;
    height: 100%;
}

.filter-container i {
    padding: 23px 23px 23px 0;
    height: 100%;
}

.filter-input {
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 23px 0 23px 23px;
    width: 95%;
    font-size: 18px;
    height: 100%;
    z-index: 1000;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 380px;
    background-color: var(--grey);
    border-radius: 5px;
    overflow: hidden;
}

.recipe-img {
    height: 50%;
    background-color: var(--brown);
}

.recipe-info {
    padding: 20px;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.recipe-header p {
    font-size: 18px;
}

.recipe-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe-body {
    display: flex;
    width: 100%;
}

.recipe-ingredients{
    font-size: 12px;
    width: 50%;
    box-sizing: border-box;
}

.recipe-description {
    width: 50%;
}

.recipe-description p {
    font-size: 12px;
}